 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  max-width: 1600px;
}




/* header nav desgin 1st part */
header{
    header: 100%;
    background-color: #ffffff;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    margin: 0 auto;
}
.menu{
    list-style-type: none;
    display: flex;
    gap: 30px;
}
.menu li a{
    text-decoration: none;
    cursor: pointer;
    color: #0a192f;
    font-size: 16px;
    font-weight: bold;
}
.btn{
    background-color: #30b868;
    padding: 12px 16px;
    border-radius: 5px;
    color: rgb(255,255,255,255);
    border: none;
}
.btn:hover{
    border: 1px solid green;
    background-color: lime;
    color: #ffffff;
    font-weight: bold;
}





/* banner desgin */
#banner {
    width: 100%;
    max-width: 1600px;
    height: 674px;
    margin: 0 auto;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url(./image/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.banner-container {
     max-width: 1300px;
}

.dot-text{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    display: inline-block;
    color: #5ba493;
    background-color: #ffffff;
}
.dot-style{
   background: radial-gradient(black,white,blue,green);
   border-radius: 50%;
}
h2 { 
    font-size: 48px;
    margin: 5px 0;
    line-height: 75px;
}
.green-text{
     color: #4ade80;
}
.small.text {
    font-size: 15px; 
    text-align: center;
    color: rgb(205, 209, 209);
    padding: 10px;
 }
.btn-group {
    display: flex;
    gap: 15px; 
    margin-top: 20px;
}
button {
    padding: 15px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    border: none;
}
.btn-green { 
    background: #0e7541;
     color: white;
}
.btn-smoth{ 
    background-color: rgba(9, 9, 9, 0.1); 
    color: white; 
    border: 1px solid white;
}




/*note- desgin */
#note{
  max-width: 1360px;
  height: 152px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}
.sub-heading{
    color: #001931;
    font-size: 38px;
    font-weight: bold;
    padding: 20px;
}
.sub-para{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}




/* card-desgin */
.card-container {
    max-width: 1360px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    margin: 0 auto;
    padding: 50px auto;
    background-color:#f9f8f4
}
.card {
    background: #ffffff;
    border: 1px solid #eee;
    border-radius: 15px;
    padding: 30px;
    width: 322px;
    height: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(14, 14, 14, 0.05); 
}
.card-img {
    width: 70px;
    border-radius: 50%;
    padding: 20px;
    background-color: rgb(230, 65, 65);
}
.card-title{
    font-size: 25px;
    color: #0a1929;
    margin: 15px;
}
.card-desc {
    font-size: 14px;
    color: #666;
    line-height: 20px;
}



