 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  max-width: 1600px;
}




/* header nav desgin 1st part */
header{
    header: 100%;
    background-color: #ffffff;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    margin: 0 auto;
}
.menu{
    list-style-type: none;
    display: flex;
    gap: 30px;
}
.menu li a{
    text-decoration: none;
    cursor: pointer;
    color: #0a192f;
    font-size: 16px;
    font-weight: bold;
}
.btn{
    background-color: #30b868;
    padding: 12px 16px;
    border-radius: 5px;
    color: rgb(255,255,255,255);
    border: none;
}
.btn:hover{
    border: 1px solid green;
    background-color: lime;
    color: #ffffff;
    font-weight: bold;
}
